
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.accordion {
	&__headline {
		cursor: pointer;
		user-select: none;
		padding: 12px 0;
	}

	&__panel {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		animation: opacity 0.2s ease;
	}

	&__icon {
		transition: 0.2s ease;
		transform: rotate(0deg);
	}

	&.active {
		.accordion {
			&__panel {
				opacity: 1;
				pointer-events: visible ;
				visibility: visible;
			}
			&__icon {
				transform: rotate(180deg);
			}

		}
	}
}