.header {
	background-color: #fff;
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	box-shadow: 0px 6px 8px 0px rgba(167, 205, 234, 0.15);
	
	&__body {
		padding: 20px 0;
	}
	&__phone {
		white-space: nowrap;

		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.nav-group {
	padding: 8px 0;
	column-gap: 40px;
}